{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}

{% load user_filters %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% csrf_token %}
            {% for purchase in purchases %}
                <li class="shopping-list__item" data-id="{{ purchase.recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% load thumbnail %}
                        {% thumbnail purchase.recipe.image "90x90" crop="center" upscale=True as im %}
                            <img src="{{ im.url }}" alt="{{ purchase.recipe.title }}"
                                 class="recipe__image recipe__image_big">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{ purchase.recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ purchase.recipe.time }} мин.</p>
                    </div>
                    <a href="#"
                       class="shopping-list__button link">Удалить
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'get_purchase_txt' %}">
            <button class="button button_style_blue">Скачать список</button>
        </a>
    </div>
{% endblock %}

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% block script %}
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/components/ShopList.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock %}