{% extends "base.html" %}
{% block title %} Ошибка 500 {% endblock %}

{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}

<div class="custom-center-block">
    <div class="custom-text-block"><h1 class="main__title">Ошибка 500</h1></div>
    <p class="custom-text-block">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
    <div class="custom-button-block">
        <a href="{% url 'index' %}" class="button button_style_blue">Вернуться на главную</a>
    </div>
</div>

{% endblock %}