{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{% load user_filters %}

{% load static %}
{% block static %}
	<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form__group">
                <label for="{{ form.username.id_for_label }}" class="form__label">Имя</label>
                <div class="form__field-group">
                    {{ form.username|addclass:"form__input" }}
                    <span class="form__error">{{ form.username.errors }}</span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
                <div class="form__field-group">
                    {{ form.password|addclass:"form__input" }}
                    <span class="form__error">
						{% if form.errors %} Имя пользователя и пароль не совпадают. Введите правильные данные. {% endif %}
						{{ form.password.errors }}
					</span>

                    {% if next %}
                        <div class="alert alert-info" role="alert">
                            Вы обратились к странице, доступ к которой возможен только для залогиненных пользователей.<br>
                            Пожалуйста, авторизуйтесь.
                        </div>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Пожалуйста, авторизуйтесь.
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue">Войти</button>
                <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
            </div>
        </form>
    </div>

{% endblock %}