{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}


{% load static %}
{% block static %}
	<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
	<div class="custom-center-block">
		<p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
		<div class="custom-button-block">
			<a href="{% url 'index' %}" class="button button_style_blue">Вернуться на главную</a>
		</div>
	</div>
{% endblock %}