{% extends "base.html" %}
{% block title %} Рецепты {% endblock %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <body>
            <h1>Последние обновления на сайте</h1>
                {% for recipe in page %}
            <h3>
                Автор: {{ recipe.author }}, дата публикации: {{ recipe.pub_date|date:"d M Y" }}
            </h3>
            <p>{{ recipe.description|linebreaksbr }}</p>
            <hr>
        {% endfor %}
        </body>
    </main>
{% include "paginator.html" %}
<script src="{% static 'js/components/Purchases.js' %}"></script>
<script src="{% static 'js/config/config.js' %}"></script>

<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/SingleCard.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>

<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'singlePageNotAuth.js' %}"></script>

{% endblock %}