<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" upscale=True as img %}
        <a href="{% url 'recipe_view' recipe.author.username recipe.id %}" class="link"><img
                src="{{ img.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a>
            </p>
        </div>
    </div>
    {% csrf_token %}
    <div class="card__footer">
        <button class="button button_style_light-blue" name="purchases" data-out><span
                class="icon-plus button__icon"></span>Добавить в покупки
        </button>
    </div>
</div>