{% load user_filters %}
        {% for tag in tags %}
            {% if "breakfast" == tag.title %}
            <li class="tags__item">
                <a id={{ tag.title }}
                   class="tags__checkbox tags__checkbox_style_orange {% if tag.title in filter %}
                           tags__checkbox_active {% else %} tags__checkbox{% endif %}"
                   {% if author %}
                   href="{% url 'profile' author.username %}?{{ request|filter_recipes:tag }}">
                    {% elif favorite %}
                    href="{% url 'favorites' %}?{{ request|filter_recipes:tag }}">
                    {% else %}
                    href="{% url 'index' %}?{{ request|filter_recipes:tag }}">
                    {% endif %}
                </a>
                <span class="tags__label">{{ tag.display_name }} </span>
            </li>
            {% endif %}

            {% if "lunch" == tag.title %}
            <li class="tags__item">
                <a id={{ tag.title }}
                   class="tags__checkbox tags__checkbox_style_green {% if tag.title in filter %}
                           tags__checkbox_active {% else %} tags__checkbox{% endif %}"
                   {% if author %}
                   href="{% url 'profile' author.username %}?{{ request|filter_recipes:tag }}">
                    {% elif favorite %}
                    href="{% url 'favorite' %}?{{ request|filter_recipes:tag }}">
                    {% else %}
                    href="{% url 'index' %}?{{ request|filter_recipes:tag }}">
                    {% endif %}
                </a>
                <span for="lunch" class="tags__label">{{ tag.display_name }}</span>
            </li>
            {% endif %}

            {% if "dinner" == tag.title %}
            <li class="tags__item">
                <a id={{ tag.title }}
                   class="tags__checkbox tags__checkbox_style_purple {% if tag.title in filter %}
                           tags__checkbox_active {% else %} tags__checkbox {% endif %}"
                   {% if author %}
                   href="{% url 'profile' author.username %}?{{ request|filter_recipes:tag }}">
                    {% elif favorite %}
                    href="{% url 'favorites' %}?{{ request|filter_recipes:tag }}">
                    {% else %}
                    href="{% url 'index' %}?{{ request|filter_recipes:tag }}">
                    {% endif %}
                </a>
                <label for="dinner" class="tags__label">{{ tag.display_name }}</label>
            </li>
            {% endif %}
        {% endfor %}

