<ul class="tags">
    <li class="tags__item">
    {% if food_time == "breakfest" %}
        <a id="breakfast" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="{{ url }}"></a>
    {% else %}
        <a id="breakfast" class="tags__checkbox tags__checkbox_style_green" href="{{ url }}?filter=breakfest"></a>
    {% endif %}
        <span class="tags__label"> Завтрак </span>

    </li>
    <li class="tags__item">
    {% if food_time == "lunch" %}
        <a id="lunch" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="{{ url }}"></a>
    {% else %}
        <a id="lunch" class="tags__checkbox tags__checkbox_style_orange" href="{{ url }}?filter=lunch"></a>
    {% endif %}
        <span for="lunch" class="tags__label"> Обед </span>
    </li>
    <li class="tags__item">
    {% if food_time == "dinner" %}
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="{{ url }}"></a>
    {% else %}
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple" href="{{ url }}?filter=dinner"></a>
    {% endif %}
        <label for="dinner" class="tags__label"> Ужин </label>
    </li>
</ul>